

  .clock {
  width: 100%;
  height: 100%;
	box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
		inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3),
		inset 0 15px 15px rgba(0, 0, 0, 0.3);
	transition: all ease 0.2s;
	position: relative;
  }

  .wrap {

    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }

  .minute,
  .hour {
    position: absolute;
    height: 45px;
    width: 6px;
    margin: auto;
    left: 0%;
    top: -30%;
    transform: translate(-50%,0%);
    bottom: 0;
    right: 0;
    background: antiquewhite;
    transform-origin: bottom center;
    transform: rotate(0deg);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    z-index: 1;
  }

  .minute {
    position: absolute;
    height: 50px;
    width: 4px;
    left: 0%;
    top: -35%;
    transform: translate(-50% ,-50%);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    transform: rotate(90deg);
  }

  .second {
    position: absolute;
    height: 50px;
    width: 2px;
    margin: auto;
    left: 49%;
    top: 15%;
    transform: translate(-50%,0%);
    border-radius: 4px;
    background: #FF4B3E;
    transform-origin:  bottom center;
    transform: rotate(180deg);
    z-index: 1;
  }

  .dot {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 12px;
    height: 12px;
    border-radius: 100px;
    background: white;
    border: 2px solid #1b1b1b;
    border-radius: 100px;
    margin: auto;
    z-index: 1;
  }

 
